html,
body {
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
}

header,
.carousel,
.carousel-inner,
.carousel-inner .item,
.carousel-inner img {
    height: 100%;
    width: 100%;
    background-color: url(/img/dark-texture-wallpaper-1366x768.jpg);
}

#main-text {
    position: absolute;
    top: 35%;
    width: 100%;
    color: #FFF;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}

.main {
    background: rgba(255, 255, 255, 0.95);
}
